<?xml version="1.0" encoding="UTF-8"?>
<!--包命名方式为 id-versions.date -->
<!-- 插件提供的功能(类) --> <!--插件的唯一标识 --> <!--插件的名称，可以不唯一 --> <!--启动优先级启动数字越大启动越晚 --> <!--加载后立即启动  当插件为其他插件子插件是就无效 -->
<plugin-features  
	Bundle-Name="Demo测试" 
	Bundle-SymbolicName="com.example.demo"	
	Bundle-Version="1.0"
	date="2015.10.17"
	provider-name="叽歪" 
	provider-url="" 
	Bundle-Activator="com.example.Activity.SimpleBundle"
	Bundle-Activity="com.example.Activity.MainActivity"
	start-level ="1"	
	start-up="true"  
	Export-Package="com.example.demo"   
	Bundle-UpdateLocation=""
	Bundle-Icon="res/drawable-mdpi/ic_launcher.png"
	>
</plugin-features>